In [1]:
import os
import alpaca_trade_api as tradeapi
import pandas as pd

os.environ["APCA_API_BASE_URL"] = "https://paper-api.alpaca.markets"
api = tradeapi.REST('PK5S94NMW8O14WQPAKIT','CHOxjFZZlwOz8s5lNRs0LzeQew5bk63ZMrorCB7h', api_version='v2')

count = 0
search = True

while search:

    if count < 1:
        # get most recent activities
        data = api.get_activities()
        # Turn the activities list into a dataframe for easier manipulation
        data = pd.DataFrame([activity._raw for activity in data])
        # get the last order id for pagination
        split_id = data.id.iloc[-1]

        trades = data

    else:
        data = api.get_activities(direction='desc', page_token=split_id)
        data = pd.DataFrame([activity._raw for activity in data])

        if data.empty:
            search = False

        else:
            split_id = data.id.iloc[-1]
            trades = trades.append(data)

    count += 1
    
# filter out partially filled orders
trades = trades[trades.order_status == 'filled']
trades = trades.reset_index(drop=True)
trades = trades.sort_index(ascending=False).reset_index(drop=True)

# print(trades)

dfProfit = trades

# convert filled_at to date
trades['transaction_time'] = pd.to_datetime(trades['transaction_time'], format="%Y-%m-%d")

# remove time
trades['transaction_time'] = trades['transaction_time'].dt.strftime("%Y-%m-%d")

# sort first based on symbol, then type as per the list above, then submitted date
trades.sort_values(by=['symbol', 'transaction_time', 'type'], inplace=True, ascending=True)

# reset index
trades.reset_index(drop=True, inplace=True)
# add empty 'profit' column
dfProfit['profit'] = ''

totalProfit = 0.0
profitCnt   = 0
lossCnt     = 0
slCnt       = 0
ptCnt       = 0
trCnt       = 0
qty         = 0
profit      = 0
sign        = {'buy': -1, 'sell': 1, 'sell_short': 1}


for index, row in trades.iterrows():

    if index > 0:
        if trades['symbol'][index - 1] != trades['symbol'][index]:
            qty    = 0
            profit = 0

    side      = trades['side'][index]
    filledQty = int(trades['cum_qty'][index]) * sign[side]
    qty       = qty + filledQty
    price     = float(trades['price'][index])
    pl        = filledQty * price
    profit    = profit + pl

    if qty==0:
        # complete trade
        trCnt = trCnt + 1
        # put the profit in its column
        #dfProfit['profit'][index] = profit
        dfProfit.loc[index, 'profit'] = round(profit, 2)
        totalProfit = totalProfit + profit
        if profit >= 0:
            profitCnt = profitCnt + 1
            if trades['type'][index] == 'limit':
                ptCnt = ptCnt + 1
        else:
            lossCnt = lossCnt + 1
            if trades['type'][index] == 'stop_limit':
                slCnt = slCnt + 1
        profit = 0

print(dfProfit)

                                                    id activity_type  \
0    20210205133833190::17eb39f9-df62-4265-9bb3-ead...          FILL
1    20210208125023063::85fad838-33b1-4cb4-ab6c-301...          FILL
2    20210209133547940::86ec0554-e0db-43fa-83b8-025...          FILL
3    20210212112929097::8a2f0215-a5d8-45fc-be8a-df3...          FILL
4    20210212131729137::38643cb9-9da0-4425-aed8-f8a...          FILL
..                                                 ...           ...
431  20210817103117120::237d3f9f-845a-4b32-ba72-826...          FILL
432  20210818103048368::266c107d-4395-4634-a19d-2da...          FILL
433  20210819103050746::193ccec9-db02-407f-ad80-966...          FILL
434  20210825103049016::29b1e47f-af84-46bf-bab4-3e3...          FILL
435  20210827103117525::ddf269e7-d8ed-43da-b967-91a...          FILL

    transaction_time  type   price qty        side symbol leaves_qty  \
0         2021-02-05  fill   62.39  54         buy      C          0
1         2021-02-08  fill   63.19  46        sell      C          0
2         2021-02-09  fill   63.42  97         buy      C          0
3         2021-02-12  fill   63.62  13        sell      C          0
4         2021-02-12  fill   63.41   1         buy      C          0
..               ...   ...     ...  ..         ...    ...        ...
431       2021-08-17  fill  234.44  94  sell_short      V          0
432       2021-08-18  fill  233.78   1  sell_short      V          0
433       2021-08-19  fill  230.41  95         buy      V          0
434       2021-08-25  fill  232.67  47         buy      V          0
435       2021-08-27  fill  231.71  50        sell      V          0

                                 order_id cum_qty order_status  profit
0    a56c14e1-367f-4307-9066-0260206cbdd1      67       filled
1    a4c673e3-cdc2-4124-bba5-f333fd8dade6      46       filled
2    697de023-f735-44b3-8083-c4922356947f      97       filled
3    6998b4a0-f1b2-4aa4-b612-1447eee8153e      51       filled
4    d3fe936a-20b6-4f8b-a2cc-3212a3582d08       1       filled
..                                    ...     ...          ...     ...
431  7d220294-1566-4282-8296-91489fc1c636      94       filled
432  9b02b9f3-38fa-4466-ba1a-78907ee12f55       1       filled
433  1f5c02b6-8e9d-4cb5-84e9-2b083319a82f      95       filled  382.19
434  9dd275d4-f7d2-4dfc-a992-53cd4be7dd70      50       filled
435  74d24aae-63e5-457f-9201-d196f14133ec      50       filled     -48

[436 rows x 13 columns]

In [2]:
currentTradeLen = 0
tradeLenList = []
for p in dfProfit.profit:
    if isinstance(p, str):
        currentTradeLen += 1
    else:
        tradeLenList.append(currentTradeLen)
        currentTradeLen = 0
print(tradeLenList)

[5, 2, 3, 6, 1, 1, 3, 2, 1, 2, 4, 3, 7, 4, 1, 1, 1, 7, 1, 1, 1, 4, 1, 2, 1, 1, 5, 1, 11, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 3, 1, 1, 5, 2, 3, 6, 1, 1, 3, 2, 1, 2, 4, 3, 7, 4, 1, 1, 5, 1, 1, 1, 5, 1, 1, 2, 2, 1, 42, 2, 1, 7, 1, 1, 1, 4, 1, 2, 1, 1, 5, 1, 11, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 3, 1, 1, 5, 1, 1, 1, 5, 1, 1, 2, 2, 1, 42, 2, 1]

In [3]:
trades

,id,activity_type,transaction_time,type,price,qty,side,symbol,leaves_qty,order_id,cum_qty,order_status,profit
0,20210205133833190::17eb39f9-df62-4265-9bb3-ead...,FILL,2021-02-05,fill,62.39,54,buy,C,0,a56c14e1-367f-4307-9066-0260206cbdd1,67,filled,
1,20210208125023063::85fad838-33b1-4cb4-ab6c-301...,FILL,2021-02-08,fill,63.19,46,sell,C,0,a4c673e3-cdc2-4124-bba5-f333fd8dade6,46,filled,
2,20210209133547940::86ec0554-e0db-43fa-83b8-025...,FILL,2021-02-09,fill,63.42,97,buy,C,0,697de023-f735-44b3-8083-c4922356947f,97,filled,
3,20210212112929097::8a2f0215-a5d8-45fc-be8a-df3...,FILL,2021-02-12,fill,63.62,13,sell,C,0,6998b4a0-f1b2-4aa4-b612-1447eee8153e,51,filled,
4,20210212131729137::38643cb9-9da0-4425-aed8-f8a...,FILL,2021-02-12,fill,63.41,1,buy,C,0,d3fe936a-20b6-4f8b-a2cc-3212a3582d08,1,filled,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,20210817103117120::237d3f9f-845a-4b32-ba72-826...,FILL,2021-08-17,fill,234.44,94,sell_short,V,0,7d220294-1566-4282-8296-91489fc1c636,94,filled,
432,20210818103048368::266c107d-4395-4634-a19d-2da...,FILL,2021-08-18,fill,233.78,1,sell_short,V,0,9b02b9f3-38fa-4466-ba1a-78907ee12f55,1,filled,
433,20210819103050746::193ccec9-db02-407f-ad80-966...,FILL,2021-08-19,fill,230.41,95,buy,V,0,1f5c02b6-8e9d-4cb5-84e9-2b083319a82f,95,filled,382.19
434,20210825103049016::29b1e47f-af84-46bf-bab4-3e3...,FILL,2021-08-25,fill,232.67,47,buy,V,0,9dd275d4-f7d2-4dfc-a992-53cd4be7dd70,50,filled,
435,20210827103117525::ddf269e7-d8ed-43da-b967-91a...,FILL,2021-08-27,fill,231.71,50,sell,V,0,74d24aae-63e5-457f-9201-d196f14133ec,50,filled,-48

In [4]:
sp500 = api.get_barset('SPY', 'day', 1000)['SPY'].df.reset_index(drop=True)

In [5]:
sp500

       open     high       low   close    volume
0    246.53  247.110  246.3000  246.55  39326387
1    248.04  249.300  248.0200  249.17  48756933
2    249.63  250.070  249.4200  250.07  42765330
3    249.73  250.210  249.5900  250.18  30812116
4    249.79  250.320  249.6000  250.10  40831958
..      ...      ...       ...     ...       ...
995  445.16  448.230  443.4355  447.26  49349485
996  447.97  448.540  447.4200  447.95  33180117
997  448.17  449.457  447.7700  448.88  35262175
998  448.61  448.860  446.1600  446.27  53455704
999  447.12  450.650  447.0600  450.19  54848833

[1000 rows x 5 columns]